---
title: Berkant Korkmaz tarafından yazılanlar
layout: index
permalink: /yazar/berkant-korkmaz/
---

{% assign allPosts = site.posts | sort: 'date' %}
{% for post in allPosts %}
	{% if post.author contains 'Berkant Korkmaz' %}
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				{% if post.description %}
					<p>{{ post.description }}</p>
				{% endif %}
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">{{ post.date | date: "%B %e, %Y" }}</time>
				<a href="{{ site.data.authors[post.author].url }}" class="author"><span class="name">{{ post.author }}</span><img src="/images/avatar.jpg" alt="" /></a>
			</div>
		</header>
		<a href="{{ post.url }}" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>
		<p>{{ post.content | truncate: 249 }}</p>
		<footer>
			<!--
			<ul class="actions">
				<li><a href="#" class="button big">Continue Reading</a></li>
			</ul>
			-->
			<ul class="stats">
				{% for category in post.categories %}
					<li><a href="/kategoriler/{{category}}">{{ category }}</a></li>
				{% endfor %}
				<!--
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
				-->
			</ul>
		</footer>
	</article>
	{% endif %}
{% endfor %}