<!-- Header -->
<header id="header">
	<h1><a href="/">Gelecek</a></h1>
	<nav class="links">
		<ul>
		<li class="dropdown">
			<a class="dropbtn">Yazarlar 
			  <i class="fa fa-caret-down"></i>
			</a>
			<div class="dropdown-content">
			{% for author in site.data.authors %}
			  <a href="{{ author[1].url }}/">{{author[0]}}</a>
			{% endfor %}
			</div>
		</li> 
		<li class="dropdown">
			<a class="dropbtn">Kategoriler 
			  <i class="fa fa-caret-down"></i>
			</a>
			<div class="dropdown-content">
			{% for category in site.categories %}
			  <a href="/kategoriler/{{ category[0] }}/">{{category[0]}}</a>
			{% endfor %}
			</div>
		</li> 
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="search">
				<a class="fa-search" href="#search">Search</a>
				<form id="search" action="ara">
					<input type="search" name="m" placeholder="Search" />
				</form>
			</li>
			<!--
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
			-->
		</ul>
	</nav>
</header>