<!-- Header -->
<header id="header">
	<h1><a href="/">Gelecek</a></h1>
	<nav class="links">
		<ul>
		{% for category in site.data.categories %}
			<li><a href="/kategoriler/{{ category }}/">{{category}}</a></li>
		{% endfor %}
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="search">
				<a class="fa-search" href="#search">Search</a>
				<form id="search" action="ara">
					<input type="search" name="m" placeholder="Search" />
				</form>
			</li>
			<!--
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
			-->
		</ul>
	</nav>
</header>